* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  overflow: hidden;
}

#placing-units-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  background: #f9f9f9;
  padding: 1rem;
}

#board-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  image-rendering: pixelated;
}

#selected-unit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: #f9f9f9;
  padding: 1rem;
}
