* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  overflow: hidden;
}

#placing-units-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}

#board-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  image-rendering: pixelated;
}
